
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/icons/cinema-screen.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Cinema
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/projections">Our schedule <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/movies">Movies <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/actors">Actors <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit">Search</button>
    </form>
    -->
    <button class="btn btn-outline-info my-4 my-sm-0 mr-3" type="submit" *ngIf="(authService.isLoggedIn()) && (authService.isAdmin())" ><a style="color: white"
                                                                                                                                           routerLinkActive="active"
                                                                                                                                           routerLink="/dashboard">
      Dashboard</a>
    </button>


    <button class="btn btn-danger my-4 my-sm-0 mr-3" type="submit" *ngIf="!(authService.isLoggedIn())" >
      <a style=" color: white
    " routerLinkActive="active" routerLink="/home/register">
        Sign Up</a>
    </button>

    <button class="btn btn-outline-danger my-4 my-sm-0 mr-3" type="submit" *ngIf="!(authService.isLoggedIn())" ><a style="color: white"
                                                                                                                   routerLinkActive="active"
                                                                                                                   routerLink="/home/login">
      Sign In</a>
    </button>
    <button class="btn btn-outline-danger my-4 my-sm-2 mr-3 " type="submit" *ngIf="(authService.isLoggedIn())">
      <a style="color: white" (click)="logout()"> Logout</a></button>


  </div>
</nav>




