<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <h5 class="card-header">Search Filter</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      (change)="filterByRole($event)"
                      [(ngModel)]="selectedRole"
                      [items]="selectRole"
                      bindLabel="name"
                      bindValue="value"

                      name="selectedRole"
                      placeholder="Select Role"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      (change)="filterByStatus($event)"
                      [(ngModel)]="selectedStatus"
                      [items]="selectStatus"
                      bindLabel="name"
                      bindValue="value"
                      name="selectedStatus"
                      placeholder="Select Status"
                    ></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
              >Show
                <select [(ngModel)]="selectedOption" class="form-control mx-25">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div
            class="
              col-md-6 col-12
              d-flex
              justify-content-start justify-content-md-end
            "
          >
            <div
              class="
                d-flex
                align-items-center
                justify-content-end
                pr-1
                pb-1 pb-md-0
              "
            >
              <label class="d-flex align-items-center ml-1 ml-md-0"
              >Search:<input
                (keyup)="filterUpdate($event)"
                [(ngModel)]="searchValue"
                class="form-control ml-25"
                name="searchValue"
                type="search"
              /></label>
              <button
                (click)="toggleSidebar('new-user-sidebar')"
                class="btn btn-primary ml-1"
                rippleEffect
              >
                <i
                  class="d-sm-none d-inline-block mr-0 mr-sm-1"
                  data-feather="plus"
                ></i
                ><span class="d-none d-sm-inline-block">Add New User</span>
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable
          [columnMode]="ColumnMode.force"
          [footerHeight]="50"
          [headerHeight]="50"
          [limit]="selectedOption"
          [rowHeight]="50"
          [rows]="rows"
          [scrollbarH]="false"
          class="bootstrap core-bootstrap"
        >
          <ngx-datatable-column [width]="200" name="User" prop="fullName">
            <ng-template
              let-name="value"
              let-row="row"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div *ngIf="row.profileImageUrl.length > 0; else customAvatar">
                  <img
                    alt="datatable-avatar"
                    class="rounded-circle mr-1"
                    height="32"
                    src="{{ row.profileImageUrl }}"
                    width="32"
                  />
                </div>
                <ng-template #customAvatar>
                  <div
                    [ngClass]="{
                      'bg-light-success': row.active,
                      'bg-light-secondary': !row.active
                    }"
                    class="avatar mr-1 ml-0"
                  >
                    <div class="avatar-content">
                      {{ row.fullName | initials }}
                    </div>
                  </div>
                </ng-template>

                <div class="cell-line-height">
                  <a
                    class="font-medium-1 d-block"
                    routerLink="/users/{{ row.username }}"
                  ><span class="font-weight-bold">{{ row.fullName }}</span></a
                  >
                  <span class="text-muted font-small-2">
                    @{{ row.username }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="200"
            name="Email"
            prop="email"
          ></ngx-datatable-column>

          <ngx-datatable-column [width]="100" name="Role" prop="role">
            <ng-template let-role="value" ngx-datatable-cell-template>
              <div>
                <i
                  [ngClass]="{
                    'icon-user text-primary': role == 'ROLE_USER',
                    'icon-slack text-danger': role == 'ROLE_ADMIN'
                  }"
                  class="feather font-medium-3"
                ></i>
                {{ role }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="100"
            name="Join Date"
            prop="joinDate"
          >
            <ng-template let-joinDate="value" ngx-datatable-cell-template>
              {{joinDate  | date:'mediumDate'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [width]="50" name="Status" prop="active">
            <ng-template let-active="value" ngx-datatable-cell-template>
              <div
                [ngClass]="{
                  'badge-light-success': active,
                  'badge-light-secondary': !active
                }"
                class="badge badge-pill"
              >
                {{ active ? "Active" : "Inactive" }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [width]="40" name="Actions">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.authorities.indexOf('user:delete') > -1" container="body" ngbDropdown>
                <button
                  class="btn icon-btn btn-sm hide-arrow"
                  ngbDropdownToggle
                  rippleEffect
                  type="button"
                >
                  <span
                    [class]="'cursor-pointer'"
                    [data-feather]="'more-vertical'"
                  ></span>
                </button>
                <div ngbDropdownMenu>
                  <a (click)="ConfirmColorOpen(row.username)" *ngIf="row.authorities.indexOf('user:delete') > -1"
                     ngbDropdownItem
                  ><span
                    [class]="'mr-50'"
                    [data-feather]="'trash'"
                    [size]="16"
                  ></span>
                    Delete</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-user-sidebar"
    overlayClass="modal-backdrop"
  >
    <new-user-sidebar (onUserAdded)="getAll()"></new-user-sidebar>
  </core-sidebar>
  <!--/ New User Sidebar -->
</div>
